.header{
	height: 50px;
	padding: 0 50px;
	background: #ccc;
}
.header:after{
	content: '';
  display: block;
	clear: both;
  height: 0;
}
.header h1{
	float: left;
	width: 500px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	letter-spacing: 2px;
}
.header div{
	float: right;
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.header .username{
	float: left;
	color: red;
	width:150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
