legend{
  font-size: 20px;
  color: #333;
}
.row40{
	height: 40px;
	line-height: 40px;
}
.row{
	display: block;
	margin-bottom: 20px;
}
.row>td:first-child{
  width: 400px;
  padding: 0 10px;
  text-align: right;
  vertical-align: super;
  letter-spacing: 1px;
  font-size: 16px;
}
.row>td:last-child{
  width: 600px;
  padding: 0 10px;
  font-size: 14px;
}
.joinname{
	width:550px;
	resize: none;
}
.require{
  color: red;
  font-size: 20px;
}
textarea{
  padding: 10px;
  border: 1px solid #ddd;
  letter-spacing: 1px;
  border-radius: 4px;
}